<div class="row">
<div class="col-sm-4">
    <div class="card text-white bg-success mb-3" style="max-width: 15rem;">
      <div class="card-header">INGRESOS</div>
      <div class="card-body">
        <h5 class="card-title">{{ingresos | currency}}</h5>
    </div>
  </div>
  </div>
  <div class="col-sm-4">
    <div class="card text-white bg-danger mb-3" style="max-width: 15rem;">
      <div class="card-header">EGRESOS</div>
      <div class="card-body">
          <h5 class="card-title">{{egresos | currency}}</h5>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="card text-white bg-info mb-3" style="max-width: 15rem;">
      <div class="card-header">BALANCE</div>
      <div class="card-body">
        <h5 class="card-title">{{balance | currency}}</h5>
      </div>
    </div>
  </div>
</div>